.handles {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  --label-padding: 1em;
}

.handles.sources {
  left: 100%;
  top: 0;
  height: 100%;

  .react-flow__handle {
    border-radius: 0 40% 40% 0;
    border-left: unset;
  }

  .handle-label {
    left: var(--label-padding);
  }
}

.handles.targets {
  right: 100%;
  top: 0;
  height: 100%;

  .react-flow__handle {
    border-radius: 40% 0 0 40%;
    border-right: unset;
  }

  .handle-label {
    right: var(--label-padding);
  }
}

.handles .react-flow__handle {
  background-color: var(--color-background);
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  border: 2px solid var(--color-node-border);

  &.connectionindicator:hover {
    pointer-events: all;
    border-color: var(--xy-theme-edge-hover);
  }

  &.connectionindicator:focus,
  &.connectingfrom,
  &.connectingto {
    border-color: var(--xy-theme-edge-hover);
  }
}

.handle-label {
  font-family: var(--font-monospace), monospace;
  font-size: 0.8em;
  position: absolute;
  top: -50%;
  color: var(--color-text-minor);
  -webkit-text-stroke: 3px var(--color-background);
  paint-order: stroke fill;
}

.react-flow__node-group .handles .react-flow__handle {
  border-color: var(--color-border-group);
}
