name: Docs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test_docs:
    name: test docs build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Ensure tags if not run from main repo
        if: github.repository != 'miniscope/noob'
        run: |
          git remote add upstream https://github.com/miniscope/noob
          git fetch upstream --tags

      - name: Set up Python
        uses: actions/setup-python@v5
        id: setup-python
        with:
          python-version: "3.13"
          cache: 'pip'

      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: npm
          cache-dependency-path: "js/package-lock.json"

      - name: Install python dependencies
        run: |
          pip install pdm
          pdm install --with docs

      - name: Install node dependencies
        run: npm --prefix js/ ci

      - name: Build docs
        run: pdm run docs-test
