name: Lint

on:
  push:
    branches:
      - main
  pull_request:


permissions:
  contents: read

jobs:
  ruff:
    name: ruff linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: astral-sh/ruff-action@v3

  black:
    name: black formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable

  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Cache deps
        uses: actions/cache@v4
        with:
          path: |
            .venv
            __pypackages__
          key: ${{ hashFiles('pdm.lock', 'pyproject.toml') }}
      - name: Install deps
        run: |
          pip install pdm
          pdm install
      - name: Mypy type checking
        run: pdm run mypy

  lock:
    name: lockfile current
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"
      - name: install pdm
        run: python -m pip install pdm
      - name: check lockfile
        run: pdm lock --check
